@import '../../styles/main.scss';

.month-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;

  &__previous,
  &__next {
    display: inline-block;
    padding: 3px 6px;
    cursor: pointer;
    background: $green-1;
    border-radius: 6px;
    font-size: 10px;
    transition: all $timing-5 $ease;
    font-weight: bold;

    &:hover{
      background: #51c1c3;
    }
  }

  &__current-month {
    display: inline-block;
    margin: 0 10px;
  }
}
