@import "../../styles/main.scss";

.calendar {
  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-bottom: 24px;
  }

  &__month-selector {
    flex: 0 0 200px;
  }

  &__days {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-between;
  }

  &__weekday,
  &__day {
    flex: 0 0 14%;
    max-width: 14%;
    margin-bottom: 5px;
  }

  &__weekday {
    background: $green-1;
    text-align: center;
    font-weight: bold;
  }

  &__day {
    background: $grey-1;
    padding: 5px;
    position: relative;

    &__number {
      font-size: 10px;
      font-weight: bold;
      top: 0px;
    }

    &__clear-all {
      cursor: pointer;
      font-size: 10px;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  &__reminders {
    overflow: auto;
    height: 100px;

    // hiding scrollbar visually
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__reminder {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;

    &__time {
      color: $grey-3;
      font-size: 9px;
      font-weight: bold;
      padding-right: 5px;
      flex: 0 0 auto;
    }

    &__description {
      font-size: 12px;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 1 1 auto;
      overflow: hidden;
    }

    &__icon {
      padding-left: 5px;
      flex: 0 0 auto;
      width: 25px;
    }
  }
}

.reminder-modal {
  &__mask {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: $black;
    opacity: 0.24;
  }

  &__content {
    background: $white;
    max-width: 90vw;
    max-height: 90vh;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 24px;

    input[type="text"] {
      width: 100%;
      border-radius: 6px;
      border: 1px solid $grey-2;
      padding: 6px;
    }

    .block-picker {
      width: 100% !important;
    }
  }

  &__save,
  &__remove {
    margin-top: 24px;
    border-radius: 6px;
    background: $green-1;
    border: 1px solid $grey-1;
    padding: 12px 24px;
    font-weight: bold;
    color: $black;
    transition: all $timing-5 $ease;

    &:hover {
      background: $green-2;
      border: 1px solid $green-2;
    }
  }

  &__errors {
    color: $red-2;
    background: $red-1;
    border: 1px solid $red-2;
    border-radius: 6px;
    padding: 6px;
  }

  &__remove {
    background: $red-1;
    margin-left: 24px;
    &:hover {
      background: $red-1;
      border: 1px solid $red-2;
    }
  }
}
