@import "../styles/main.scss";

* {
  font-family: $font-1;
  box-sizing: border-box;
}

.App {
  padding: 0 24px;
  min-width: 320px;

  margin-top: 24px;
  &__calendar {
    margin: 0 auto;
    width: 100%;
    max-width: 1260px;
  }
}
